@import '~bootstrap-table/dist/bootstrap-table';
@import '~bootstrap-table/dist/extensions/multiple-selection-row/bootstrap-table-multiple-selection-row';
@import '../components/devbridge-autocomplete';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker';
@import '~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker';
@import '../components/select2';